{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    ADD CONTACT<br/>
    <form id="add-contact-form">
        {% csrf_token %}
        {{form.as_div}}
        <button type="submit">Create</button>
    </form>
</body>
    <script>
        const VIEW_CONTACTS = "{% url 'view_contacts' %}"
        const CREATE_CONTACT = "{% url 'create_contact' %}"
        const EDIT_CONTACT = "{% url 'edit_contact' %}"
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="{% static 'js/contact.js'%}"></script>
</html>