{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <title>Login</title>
    {% include 'includes/css_files.html' %}
    <link href="{% static 'css/login.css'%}" rel="stylesheet" />
</head>
<body class="bg-gray-200">
    <main class="main-content  mt-0">
        <div class="page-header align-items-start min-vh-100" style="background-image: url({% static 'img/login.png' %});">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-8 col-12 mx-auto">
                        <div class="card z-index-0 fadeIn3 fadeInBottom">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                                <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                    <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Contact System</h4>
                                    <div class="row mt-3">
                                        <div class="col-2 text-center ms-auto">
                                            <a class="btn btn-link px-3" href="javascript:;">
                                                <i class="fa fa-facebook text-white text-lg"></i>
                                            </a>
                                        </div>
                                        <div class="col-2 text-center px-1">
                                            <a class="btn btn-link px-3" href="javascript:;">
                                                <i class="fa fa-github text-white text-lg"></i>
                                            </a>
                                        </div>
                                        <div class="col-2 text-center me-auto">
                                            <a class="btn btn-link px-3" href="javascript:;">
                                                <i class="fa fa-google text-white text-lg"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form role="form" class="text-start" id="login-form">
                                    {% csrf_token %}
                                    <div class="input-group input-group-outline my-3">
                                        <label class="form-label" for="{{form.email.id_for_label}}">Email</label>
                                        {{form.email}}
                                    </div>
                                    <div class="input-group input-group-outline my-3">
                                        <label class="form-label" for="{{form.password.id_for_label}}">Password</label>
                                        {{form.password}}
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" id="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign in</button>
                                    </div>
                                </form>
                                <p class="mt-4 text-sm text-center">
                                    Don't have an account?
                                    <a href="{% url 'register' %}" class="text-primary text-gradient font-weight-bold">Sign up</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
</body>
    {% include 'includes/js_files.html' %}
    <script>
        const LOGIN_URL = "{% url 'authenticate_user' %}"
        const CONTACT_PAGE = "{% url 'contact' %}"

        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <script src="{% static 'js/login.js' %}"></script>
</html>